body {
    background-color: #0000;
    font-family: Kelly Slab, cursive;
}

#landingHeader {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}

#landingHeader h1 {
    color: #fff;
}

.btn {
    background-color: #456 !important;
    color: #bbccdd !important;
}

.btn:hover {
    color: #fff !important;
}


